body {
  margin: 0;
  background-color: #858AE3;
  font-family: Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Verdana, sans-serif;
}
